<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key"/>


        <activity
            android:name=".SettingPreferenceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CittaAnteprimaActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ActivityMap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizzaUtenteActivity"
            android:parentActivityName=".VisualizzaDatiAmministratoreActivity" />
        <activity
            android:name=".VisualizzaCouponActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CouponActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizzaViaggiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizzaDatiCMRHActivity"
            android:parentActivityName=".AmministratoreActivity"/>
        <activity
            android:name=".IMieiViaggiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfiloActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomeActivity"
            />
        <activity
            android:name=".SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CittaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizzaDatiAmministratoreActivity"
            android:parentActivityName=".AmministratoreActivity" />
        <activity
            android:name=".CancellaAmministratoreActivity"
            android:parentActivityName=".AmministratoreActivity" />
        <activity
            android:name=".InserisciAmministratoreActivity"
            android:parentActivityName=".AmministratoreActivity" />
        <activity android:name=".AmministratoreActivity" />
        <activity
            android:name=".RegisterPhotoActivity"
            android:parentActivityName=".RegisterEmailPassActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".RegisterEmailPassActivity"
            android:parentActivityName=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".FetchAddressIntentService" />
    </application>

</manifest>